<!DOCTYPE html>
<html>
    <head>
        <title>BaiTapW3s</title>
        <link rel="stylesheet" href="baitapw3s.css">
    </head>
    <body>
        <div class="dau">
        <h1 class="h-dau">Cities</h1>
        </div>
        <div class="than">
            <div class="than-mot">
            <a href="">LonDon</a>
            <br>
            <a href="">Paris</a>
            <br>
            <a href="">Tokyo</a>
            </div>
            <div class="than-hai">
                <h1>LonDon</h1>
                <p>London is the capital city of England. It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
                <br>
                <br>
                 Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
            </div> 
        </div>
        <div class="chan">
            <h1>Footer</h1>
        </div>
    </body>
</html>